body{
    display: flex;
    flex-direction: row;
    background-color: rgb(244, 242, 242);
}

.image-section{
    flex: 4;
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-image: url(./img/bike.jpg);
    background-position: 78.5% 90%;
    background-size: 200vh;
    background-repeat: no-repeat;
}

.logo-text{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-section{
    flex: 7;
    display: flex;
    flex-direction: column;
}

div > img{
    height: 100%;
    position: relative;
    left: -100%;
}

.title-section{
    font-size: 1.5vw;
    padding: 60px 100px 30px 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.upper-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    padding: 35px;
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 50%;
}

input:invalid {
    border-color: red;
}

input:focus{
    outline: none;
    border: 3px solid orange;
}

div > input{
    margin-bottom: 25px;
    height: 3vh;
}

.footer-section{
    margin: 2vw 0 0 3vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  /* Start of Simple Button */
.simple {
    font-size: 1.3vw;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .simple::after {
    content: "";
    background-color: #e4894c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }
  /* End of Simple Button */
